h1 {
    color: blue; /* Make the title text blue. */
    font-family: Helvetica,Arial,sans-serif; /* Make the title font pretty. */
}

p {
    font-family: Helvetica,Arial,sans-serif; /* Make the normal font pretty. */
}
